body { font-family: sans-serif; margin: 0 auto; max-width: 40em; min-width:20em; width: 80% }

#header { font: italic 2em serif; border-bottom: 2px solid gray }

h1, h2, h3, h4, h5, h6 { font-family: serif}

code { background-color: #ccc }
pre { border: 1px dotted #999; background-color: #ccc }
